@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
@model DA_Xuong.Models.SACH
<section>
    @if (TempData["SuccessMessage"] != null)
    {
        <div id="successMessage" class="alert alert-success" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div id="errorMessage" class="alert alert-danger" role="alert">
            @TempData["ErrorMessage"]
        </div>
    }

    <div class="container mt-3">
   
        <div class="row">
            <article class="col-md-9 bg-light order-md-1">
                <div class="row mt-4">
                    <div class="col-md-3">
                        <img src="@Url.Content(Model.HINHANH)" alt="Alternate Text" class="w-100" />
                        <div class="container mt-2 d-flex justify-content-center align-content-center">
                            <form method="post" action="@Url.Action("AddToCart", "ChiTietSach")">
                                <input type="hidden" name="id" value="@Model.IDSACH" />
                                <button type="submit" class="btn btn-outline-success">
                                    <img src="/IMG/shopping-cart.png" />
                                    Thêm vào giỏ hàng</button>
                            </form>

                         

                        </div>
                    </div>
                    <div class="col-md-9">
                        <div>
                            <h3 class="fw-bold">@Model.TIEUDE</h3>
                            <div><strong>Tác giả:</strong> @Model.TacGia.TENTACGIA</div>
                            <div><strong>Nhà xuất bản:</strong> @Model.NGAYXUATBAN.ToString("dd/MM/yyyy")</div>
                            <div><strong>Ngày cập nhật</strong></div>
                            <div><strong>Hình thức bìa</strong></div>
                            <div><strong>Giá:</strong> @Model.GIA.ToString("#,##0") VND</div>

                        </div>
                        <div class="mt-2 text-warning">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i>
                        </div>
                        <div class="row mt-3">
                            <p>
                             @Model.MOTA
                            </p>
                        </div>
                        <button type="button" class="mb-4 align-content-center btn btn-outline-success">Xem thêm</button>
                    </div>
                </div>
            </article>
            <aside class="col-md-3 bg-light order-md-2">
                <div class="row mt-4">
                    <h5 class="text-center fw-bold">CÓ THỂ BẠN THÍCH</h5>
                    <div class="row mt-4">
                        <div class="col-md-4 mt-2">
                            <img src="Images_Hieu\Rectangle 60.png" alt="Alternate Text" class="w-100" />
                        </div>
                        <div class="col-md-8">
                            <strong>Tâm lý học</strong>
                            <p>Trần Nhật Tân</p>
                        </div>

                        <div class="col-md-4 mt-2">
                            <img src="Images_Hieu\Rectangle 60.png" alt="Alternate Text" class="w-100" />
                        </div>
                        <div class="col-md-8">
                            <strong>Tâm lý học</strong>
                            <p>Trần Nhật Tân</p>
                        </div>

                        <div class="col-md-4 mt-2">
                            <img src="Images_Hieu\Rectangle 60.png" alt="Alternate Text" class="w-100" />
                        </div>
                        <div class="col-md-8">
                            <strong>Tâm lý học</strong>
                            <p>Trần Nhật Tân</p>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>

